nav,footer{
    display: none!important;
}

body{
    background: url("/shit.jpg") no-repeat center center fixed!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}